mixin header()
    header.container.my-2(dir="rtl")
        nav.navbar.navbar-light.bg-light.px-5.rounded
            a.navbar-brand(href="/admin") Shop Flow
            if (user)
                span= user.email
            div
                ul.navbar-nav.ml-auto.d-flex.flex-row.gap-3
                    if(!user)
                        li.nav-item
                            a.btn.btn-primary(href="/admin/login") ورود
                    else
                        li.nav-item.d-flex.flex-row.gap-3.justify-content-center.align-items-center
                            a.btn.btn-primary(href="#" data-bs-toggle="modal" data-bs-target="#logoutModal") خروج

                            div.modal.fade#logoutModal(tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true")
                                div.modal-dialog
                                    div.modal-content
                                        div.modal-body
                                            | آیا مطمئن هستید که می خواهید از سیستم خارج شوید؟
                                        div.modal-footer
                                            button.btn.btn-secondary(type="button" data-bs-dismiss="modal") خیر
                                            a.btn.btn-primary(href="/admin/logout") بله