mixin header()
    header.container.my-2(dir="rtl")
        nav.navbar.navbar-light.bg-light.px-5.rounded
            a.navbar-brand(href="/admin") Shop Flow
            div
                ul.navbar-nav.ml-auto.d-flex.flex-row.gap-3
                    li.nav-item
                        a.nav-link(href="/login") ورود
                    li.nav-item
                        a.nav-link(href="/logout") خروج