mixin header()
    header.container.my-2(dir="rtl")
        nav.navbar.navbar-light.bg-light.px-5.rounded
            a.navbar-brand(href="/admin") Shop Flow
            if (user)
                span= user.email
            div
                ul.navbar-nav.ml-auto.d-flex.flex-row.gap-3
                    if(!user)
                        li.nav-item
                            a.nav-link(href="/admin/login") ورود
                    else
                        li.nav-item.d-flex.flex-row.gap-3.justify-content-center.align-items-center
                            a.nav-link خروج