extends base

block content
    h1.h1.text-center.m-5.text-primary محصولات ساخته شده
    div(dir="rtl")
        a.btn.btn-success.mb-3(href="/admin/product-create") ساختن محصول جدید
    if products.length > 0
        +productList(products)
    else
        p.text-center No products available.